@page
@model FcConnect.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row g-0 mb-2">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText mb-0">Update <br /> User</h5>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
        <a class="btn btn-secondary mt-1" asp-page="./Index"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Forename" class="control-label"></label>
                <input asp-for="User.Forename" class="form-control" />
                <span asp-validation-for="User.Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary me-5"><i class="bi bi-floppy"></i>&nbsp; Save</button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        @if (Model.User.UserStatusId == Constants.StatusUserActive)
                        {                            
                            <a asp-page="./SuspendUser" asp-route-id="@Model.User.Id" class="btn btn-warning"><i class="bi bi-person-fill-slash"></i>&nbsp;Suspend User</a>
                        }
                        @if (Model.User.UserStatusId == Constants.StatusUserSuspended)
                        {
                            <a asp-page="./SuspendUser" asp-route-id="@Model.User.Id" class="btn btn-success"><i class="bi bi-person-fill-check"></i>&nbsp;Reinstate User</a>
                        }
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
