@page
@model FcConnect.Pages.Users.UserManagementModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Add new user</a>
        </div>
    </div>
</div>

