@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgotten password confirmation";
}

<div class="row mt-5 pt-5">
    <div class="col d-flex justify-content-center mt-5 pt-5">
        @Html.Raw(Model.SvgContent)
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <p class="quicksandText">
            Please check your email to reset your password.
        </p>
    </div>
</div>

