@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@{
    List<SelectListItem> listRoles = new List<SelectListItem>();

    foreach (var role in Model.Roles)
    {
        listRoles.Add(new SelectListItem { Text = role.ToString(), Value = role.ToString() });
    }
}
<div class="row g-0 mb-0">
    <div class="col d-flex align-items-center">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-1 mt-5">Create <br />New User</h5>
    </div>
    <hr />

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-1">
                <label asp-for="Input.Email" class="mt-1">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter an email address" />                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Input.Password" class="mt-1">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter a password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Input.ConfirmPassword" class="mt-1">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Input.Forename" class="mt-1">Forename</label>
                <input asp-for="Input.Forename" class="form-control" aria-required="true" placeholder="Forename" />
                <span asp-validation-for="Input.Forename" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Input.Surname" class="mt-1">Surname</label>
                <input asp-for="Input.Surname" class="form-control" aria-required="true" placeholder="Surname" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="rolesDrop">User Role</label>
             <!--   @Html.DropDownList("rolesDrop", listRoles, new { @class = "form-control" })-->
                <select asp-for="Input.Role" asp-items="@listRoles" class="form-control"></select>

            </div>
            <button id="registerSubmit" type="submit" class="btn btn-primary"><i class="bi bi-person-check-fill"></i>&nbsp;Create User</button>
            <a asp-page="/Users/Index" class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
