html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 60px;
    margin-bottom: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-link:hover {
    background-color: lightgray;
    border-radius:5px;
}

#addQuestionField {
    border-radius: 50px;
    background-color: #31BF60;
    color: white;
    cursor: pointer;
}

#addQuestionField:hover {
    border-radius: 50px;
    background-color: #ceedd8;
    cursor: pointer;
    color:white;
   }

#removeQuestionField {
    border-radius: 50px;
    border-color: #e3949e;    
    color: #eb001e;
    cursor: pointer;
}

#removeQuestionField:hover {
    border-radius: 50px;
    
    box-shadow: rgba(227, 148, 158, 0.5) 0px 0px 0px 1px;
   
    cursor: pointer;
}

.form-control:hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

.form-control:focus {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

#questionsForm .form-control {
    animation: fadein 0.65s;
    -moz-animation: fadein 0.65s; /* Firefox */
    -webkit-animation: fadein 0.65s; /* Safari and Chrome */
    -o-animation: fadein 0.65s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}