@page
@model FcConnect.Pages.Submissions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Submit <br /> Response</h5>
    </div>
    <div class="col d-flex align-items-end justify-content-end">
        <a class="btn btn-secondary mb-2 mt-1" asp-page="./MySurveys"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
    </div>
</div>
<hr class="mt-0" />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--    <input type="hidden" asp-for="SurveyUserLink.Id" />
            <input type="hidden" asp-for="SurveyUserLink.SurveyId" />
            <input type="hidden" asp-for="SurveyUserLink.DateDue" />
            <input type="hidden" asp-for="SurveyUserLink.StatusId" />

            <input type="hidden" asp-for="SurveyUserLink.User.Id" />
            <input type="hidden" asp-for="SurveyUserLink.User.Forename" />
                <input type="hidden" asp-for="SurveyUserLink.User.Surname" />-->

            @{
                int i = 0;
                foreach (var question in Model.SurveyQuestions)
                {
                    <div class="form-group">
                        <label class="mb-1">@question.QuestionText</label><br />
                        <input required type="text" name="answerText@(i)" class="form-control mb-3" />
                    </div>
                    i++;
                }
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle-fill"></i>&nbsp;Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
