@page
@model FcConnect.Pages.Surveys.DeleteModel

@{
    ViewData["Title"] = "Delete Survey";
}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Delete <br /> Survey</h5>
    </div>
    <div class="col d-flex align-items-end justify-content-end">
        <a asp-page="./Index" class="btn btn-secondary mb-1"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
    </div>
</div>
<hr class="mt-0" />

<div>
    <div class="row">
        <div class="col">
            <strong>@Html.DisplayNameFor(model => model.Survey.Name)</strong><br />
            @Html.DisplayFor(model => model.Survey.Name)

        </div>
        
    </div>
    @if (Model.IsEditable)
    {
        <p class="mt-4 text-danger"><strong>Are you sure you wish to delete this survey?</strong></p>

        <form method="post">
            <input type="hidden" asp-for="Survey.Id" />
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>&nbsp;Delete</button>
        </form>
    }
    else
    {
        <p class="mt-4 text-danger">This survey can no longer be deleted as it has been assigned to users.</p>    
    }

</div>
