@page
@model FcConnect.Pages.Surveys.Assign.EditModel

@{
    ViewData["Title"] = "Assign Survey";

    List<SelectListItem> listSurveys = new List<SelectListItem>();
    if (Model.Surveys != null)
    {        
        foreach (var survey in Model.Surveys)
        {
            listSurveys.Add(new SelectListItem { Text = survey.Name.ToString(), Value = survey.Id.ToString() });
        }
    }

    var username = Model.AssigningToUser.Forename + " " + Model.AssigningToUser.Surname;
    var email = Model.AssigningToUser.Email;

}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-center">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText mt-4 pt-5">Assign <br /> Survey</h5>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
        <a class="btn btn-secondary mb-1" asp-page="./Index"><i class="bi bi-x-circle-fill"></i>&nbsp; Cancel</a>
    </div>
</div>
<hr class="mt-0" />


<p><strong>Assigning to</strong><br /> @username - @email</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssigningToUser.Id" />
            <input type="hidden" asp-for="AssigningToUser.Forename" />
            <input type="hidden" asp-for="AssigningToUser.Surname" />
           
            <div>
                <label><strong>Currently Assigned</strong></label>
            </div>
            @{
                if (Model.UserCurrentSurveys.Count < 1)
                {                    
                    <p class="text-danger">No Surveys Assigned</p>
                }
                if (Model.UserCurrentSurveys != null)
                {
                    for (int i = 0; i < Model.UserCurrentSurveys.Count; i++)
                    {
                        <p class="mb-0">@Model.UserCurrentSurveys.ElementAt(i).Name</p>
                    }
                }
            }
            <div class="mb-3">
                <label class="mt-2" for="surveyDrop"><strong>Select Survey</strong></label>
                @if(listSurveys.Count > 0)
                {
                    @Html.DropDownList("surveyDrop", listSurveys, new { @class = "form-control" })
      
                    <div class="mt-3">
                        <div class="form-group">
                            <label asp-for="SurveyUserLink.DateDue" class="control-label">First Due Date</label>
                            <input asp-for="SurveyUserLink.DateDue" class="form-control" id="StartDate" />
                            <span asp-validation-for="SurveyUserLink.DateDue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SurveyUserLink.EndDate" class="control-label">End Date</label>
                            <input asp-for="SurveyUserLink.EndDate" class="form-control" id="EndDate" />
                            <span asp-validation-for="SurveyUserLink.EndDate" class="text-danger" id="dateVal"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SurveyUserLink.SurveyFrequency" class="control-label">Frequency (Days)</label>
                            <input asp-for="SurveyUserLink.SurveyFrequency" class="form-control" />
                            <span asp-validation-for="SurveyUserLink.SurveyFrequency" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" value="Assign Survey" class="btn btn-primary mt-2"><i class="bi bi-check-circle-fill"></i>&nbsp; Assign Survey</button>
                        

                    </div>
                }
                else
                {
                    <p class="text-danger">All surveys have already been assigned to this user</p>
                }
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
